html{

}
#addSell{
    width: 55%;
    margin: 0;
    left: 0;
}
td{
    text-align: left !important;
}

body{
    background: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FF6969 inset;
    -webkit-text-fill-color: white !important;
}
#info-user{
    text-align: center;
    padding-top: 10%;
}

#row-fluid{

}
.mdl-button {
    color: rgb(253, 252, 252) !important;
}
.mdl-layout__header-row{
    background: #FF6969 !important;
}
.mdl-layout__drawer-button{
    background: #FF6969 !important;
    padding-top: 0.5%;
}
#table-vendas{
    width: 100% !important;
}
#vendas{

}
#addNewVenda{
    position: absolute;
    margin-right: 5%;
    right: 0;
    bottom: 0;
    margin-bottom: 5%;
    background: #FF6969;
}
