html{

}

body{
    background: #FF6969;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FF6969 inset;
    -webkit-text-fill-color: white !important;
}

#container-logo{
    text-align: -webkit-center;
    width: 100%;
}
#logo{
    width: 25%;
}
#login-form{
    width: 22%;
}
#form{
    width: 100%;
    text-align: -webkit-center;
}

#row-fluid{

}
.mdl-button {
    color: rgb(253, 252, 252) !important;
}
#login-txt{
    color: white;
}
#password-txt{
    color: white;
}
#btnLogin{
    float: right;
}
